.comments{
    background: #F6F6F6;
    border-radius: 7px 7px 0 0;
    max-width: 1660px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
    @include media(1660){
        border-radius: 0;
    }
    @include media(992){
        padding: 60px 0;
    }
    &__title{
        font-family: 'Exo2';
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 120%;
        color: #282A2D;
        margin-bottom: 20px;
        @include media(768){
            font-size: 34px;
            line-height: 120%;
        }
    }
    &__desc{
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        color: #46484B;
        margin-bottom: 10px;
        @include media(768){
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__slider{
        width: 100%;
    }
    .swiper{
        overflow: hidden;
        padding: 21px 15px;
        width:calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        &-wrapper{
            width: max-content;
            display: flex;
        }
        &-pagination{
            height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-bullet{
                width: 10px;
                height: 10px;
                display: block;
                background: #AEB5BF;
                border-radius: 50%;
                &:not(:last-of-type){
                    margin-right: 6px;
                }
                &-active{
                    width: 14px;
                    height: 14px;
                    background: #C8A35F;
                }
            }
        }
    }
    &__slide{
        background: #FFFFFF;
        border-radius: 6px;
        padding: 30px 20px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 300ms ease;
        &.swiper-slide-visible{
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.09);
        }
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    &__quote{
        display: flex;
        align-items: center;
    }
    &__subtitle{
        font-family: 'Exo2';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 120%;
        color: #282A2D;
        margin-left: 10px;
    }
    &__p{
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: #46484B;      
        margin-bottom: 19px;  
        // @include media(1200){
        //     font-size: 16px;
        // }
    }
    &__adress{
        font-weight: 300;
        font-size: 14px;
        line-height: 130%;
        color: #AEB5BF;
        text-align: right;
    }
    &__buttons{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: calc(100% + 140px);
        margin-left: -70px;
        margin-right: -70px;
        transform: translateY(-228px);
        @include media(1500){
            width: calc(100% + 100px);
            margin-left: -50px;
            margin-right: -50px;
        }
        @include media(1200){
            display: none;
        }
    }
    &__button{
        &-prev{
            cursor: pointer;
            display: block;
            background: url(../img/button-prev.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            &.swiper-button-disabled{
                opacity: 0.6;
            }
        }
        &-next{
            cursor: pointer;
            display: block;
            background: url(../img/button-next.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            &.swiper-button-disabled{
                opacity: 0.6;
            }
        }
    }
}


.videos{
    background: #F6F6F6;
    max-width: 1660px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    @include media(992){
        padding-bottom: 60px;
    }
    &__title{
        font-family: 'Exo2';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 120%;
        color: #282A2D;
        display: block;
        margin-bottom: 40px;
        @include media(992){
            margin-bottom: 30px;
        }
    }
    &__frame{
        height: 0;
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        &>*{
            position: absolute;
            top: 0;
            left: 0;width: 100%;
            height: 100%;
        }
    }
    &__slider{
        width: 100%;
    }
    .swiper{
        width: 100%;
        overflow-x: hidden;
        &-wrapper{
            width: max-content;
            display: flex;

            z-index: 2;
        }
        &-slide{
            position: relative;
            z-index: 2;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        &-pagination{
            height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            &-bullet{
                width: 10px;
                height: 10px;
                display: block;
                background: #AEB5BF;
                border-radius: 50%;
                &:not(:last-of-type){
                    margin-right: 6px;
                }
                &-active{
                    width: 14px;
                    height: 14px;
                    background: #C8A35F;
                }
            }
        }
    }
    &__subtitle{
        font-family: 'Exo2';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #282A2D;
        margin-top: 24px;
    }
    &__buttons{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: calc(100% + 140px);
        margin-left: -70px;
        margin-right: -70px;
        transform: translateY(-143px);
        @include media(1500){
            width: calc(100% + 100px);
            margin-left: -50px;
            margin-right: -50px;
        }
        @include media(1200){
            display: none;
        }
    }
    &__button{
        &-prev{
            cursor: pointer;
            display: block;
            background: url(../img/button-prev.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            &.swiper-button-disabled{
                opacity: 0.6;
            }
        }
        &-next{
            cursor: pointer;
            display: block;
            background: url(../img/button-next.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            &.swiper-button-disabled{
                opacity: 0.6;
            }
        }
    }
}



.photos{
    background: #F6F6F6;
    border-radius: 0 0  7px 7px;
    max-width: 1660px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    @include media(1660){
        border-radius: 0;
    }
    @include media(992){
        padding-bottom: 60px;
    }
    &__body.container{
        @include media(575){
            padding-right: 0;
        }
    }
    &__title{
        font-family: 'Exo2';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 120%;
        color: #282A2D;
        margin-bottom: 40px;
        @include media(992){
            margin-bottom: 30px;
        }
    }
    &__slider{
        width: 100%;
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-slide{
            position: relative;
            z-index: 2;
            @include media(575){
                width: max-content;
            }
            @include media(1200){
                margin-right: 15px;
            }
            img{
                width: 100%;
                @include media(575){
                    max-width: 190px;
                }
            }
        }
    }
    &__buttons{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: calc(100% + 140px);
        margin-left: -70px;
        margin-right: -70px;
        transform: translateY(-181px);
        @include media(1500){
            width: calc(100% + 100px);
            margin-left: -50px;
            margin-right: -50px;
        }
        @include media(1200){
            display: none;
        }
    }
    &__button{
        &-prev{
            cursor: pointer;
            display: block;
            background: url(../img/button-prev.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            &.swiper-button-disabled{
                opacity: 0.6;
            }
        }
        &-next{
            cursor: pointer;
            display: block;
            background: url(../img/button-next.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            &.swiper-button-disabled{
                opacity: 0.6;
            }
        }
    }
}