mixin about()
    .about 
        .about__body.container 
            h2.about__title О компании
            .about__content
                .about__items 
                    .about__item 
                        p.about__num 200
                        p.about__p постоянных клиентов
                    .about__item 
                        p.about__num 30 млн
                        p.about__p ежемесячной выручки
                    .about__item 
                        p.about__num 100 тонн
                        p.about__p доставленных грузов за 2021год
                .about__row 
                    .about__wrapper 
                        .about__img 
                            img(src="@img/about-img-1.png", alt="" draggable="false")
                        p.about__desc Транспортная Компания «Экспресс» - это современная и инновационная компания, помогающая в организации внешнеэкономической деятельности для малых и средних предприятий. Мы честно и до конца выполняем взятые на себя обязательства с 2016 года
                    .about__wrapper 
                        .about__img 
                            img(src="@img/about-img-2.png", alt="" draggable="false")
                        p.about__desc В нашей команде только уверенные специалисты, способные решать задачи, связанные с исполнением ваших запросов. Помимо услуг логистики, мы также оказываем юридическое сопровождение в данной области