mixin advantages()
    .advantages 
        .advantages__body.container 
            h2.advantages__title Преимущества
            .advantages__content 
                .advantages__item.half.center
                    .advantages__info 
                        p.advantages__subtitle Наличие собственного вагонного парка и автопарка
                        p.advantages__desc Большой выбор тарифов, регулярное техническое обслуживание, исключающее поломки в пути
                    .advantages__img 
                        img(src="@img/advantages-img-1.png", alt="")
                .advantages__item.half.center
                    .advantages__info 
                        p.advantages__subtitle Доставка разных типов грузов
                        p.advantages__desc Перевозим твердые, жидкие, газообразные и сыпучие вещества в короткие сроки
                    .advantages__img 
                        img(src="@img/advantages-img-2.png", alt="")
                .advantages__item.center
                    .advantages__info 
                        p.advantages__subtitle Минимальный вес
                        p.advantages__desc Один из самых маленьких весовых показателей для доставки - всего 6 кг.
                    .advantages__img 
                        img(src="@img/advantages-img-3.png", alt="")
                .advantages__item
                    .advantages__info 
                        p.advantages__subtitle Деятельность ведется официально
                        p.advantages__desc Деятельность ведется официально
                    .advantages__img 
                        img(src="@img/advantages-img-4.png", alt="")
                .advantages__item
                    .advantages__info 
                        p.advantages__subtitle Переводим деньги по всему миру
                        p.advantages__desc На деятельность нашей компании не повлияли санкции
                    .advantages__img 
                        img(src="@img/advantages-img-5.png", alt="")
                .advantages__item.half.center
                    .advantages__info.center
                        p.advantages__subtitle Контроль перемещения
                        p.advantages__desc Эффективная система мониторинга, актуальная информация о местонахождения товара, предоставляемая онлайн-сервисом
                    .advantages__img 
                        img(src="@img/advantages-img-6.png", alt="")
                .advantages__item.half
                    .advantages__info 
                        p.advantages__subtitle Безопасность
                        p.advantages__desc Маршрут следования разрабатывается таким образом, чтобы отправления были надежно защищены, замки и опломбировка исключают доступ к товару третьих лиц
                    .advantages__img 
                        img(src="@img/advantages-img-7.png", alt="")
                .advantages__item 
                    p.advantages__num 965
                    p.advantages__desc.last Клиентам мы нашли поставщиков за 2022 год
                .advantages__item 
                    p.advantages__num 98%
                    p.advantages__desc.last Из них предложили условия выгоднее
                .advantages__item 
                    p.advantages__num 15
                    p.advantages__desc.last Сотрудников по ВЭД в штате