mixin company()
    .company 
        .company__body.container 
            .company__left 
                h2.company__title Транспортная компания #[br] #[span «ЭКСПРЕСС»]
                p.company__p Зарегистрирована и работает официально
            .company__img
                img(src="@img/company-certificate.png", alt="" draggable="false")