mixin delivery()
    .delivery 
        .delivery__body.container 
            h2.delivery__title Виды доставки
            p.delivery__desc Вы можете выбрать для себя любой вид транспорта, как для сборных, так и для генеральных грузов. Для расчёта стоимости нужен вес, объём, стоимостьи категория товара
            .delivery__cards 
                .delivery__card
                    .delivery__top 
                        p.delivery__subtitle Авиаперевозка
                        .delivery__img 
                            img(src="@img/delivery-img-1.png", alt="")
                        p.delivery__p Подходит для дорогих товаров и пробных партий
                        ul.delivery__list 
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | ≥50 кг
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | 4-7 дней в пути
                    .delivery__bottom
                        p.delivery__info от 3,1 $/кг
                        button(type="button").delivery__btn Рассчитать мой груз
                .delivery__card
                    .delivery__top 
                        p.delivery__subtitle Рассчитать мой груз
                        .delivery__img 
                            img(src="@img/delivery-img-2.png", alt="")
                        p.delivery__p Оптимальна по скорости и цене.
                        p.delivery__p Из Китая отправляется каждый день. Подходит для сборных грузов.
                        ul.delivery__list 
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | ≥50 кг
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | 21-50 дней в пути
                    .delivery__bottom
                        p.delivery__info от 1,2 $/кг
                        button(type="button").delivery__btn Рассчитать мой груз
                .delivery__card
                    .delivery__top 
                        p.delivery__subtitle Морская
                        .delivery__img 
                            img(src="@img/delivery-img-3.png", alt="")
                        p.delivery__p Бюджетная — для крупных грузов и контейнеров.
                        p.delivery__p Отправляется 2 раза в неделю.
                        ul.delivery__list 
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | ≥100 кг
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | 21-50 дней в пути
                    .delivery__bottom
                        p.delivery__info от 0,7 $/кг
                        button(type="button").delivery__btn Рассчитать мой груз
                .delivery__card
                    .delivery__top 
                        p.delivery__subtitle Железнодорожная
                        .delivery__img 
                            img(src="@img/delivery-img-4.png", alt="")
                        p.delivery__p Самая бюджетная для сборных грузов и контейнеров.
                        p.delivery__p Отправка каждый день.
                        ul.delivery__list 
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | ≥100 кг
                            li.delivery__li 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                </svg>
                                | 20-40 дней в пути
                    .delivery__bottom
                        p.delivery__info от 0,3 $/кг
                        button(type="button").delivery__btn Рассчитать мой груз
            .delivery__slider 
                .delivery__swiper.swiper 
                    .delivery__swiper-wrapper.swiper-wrapper 
                        .delivery__slide.swiper-slide   
                            .delivery__card
                                .delivery__top 
                                    p.delivery__subtitle Авиаперевозка
                                    .delivery__img 
                                        img(src="@img/delivery-img-1.png", alt="")
                                    p.delivery__p Подходит для дорогих товаров и пробных партий
                                    ul.delivery__list 
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | ≥50 кг
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | 4-7 дней в пути
                                .delivery__bottom
                                    p.delivery__info от 3,1 $/кг
                                    button(type="button").delivery__btn Рассчитать мой груз
                        .delivery__slide.swiper-slide
                            .delivery__card
                                .delivery__top 
                                    p.delivery__subtitle Рассчитать мой груз
                                    .delivery__img 
                                        img(src="@img/delivery-img-2.png", alt="")
                                    p.delivery__p Оптимальна по скорости и цене.
                                    p.delivery__p Из Китая отправляется каждый день. Подходит для сборных грузов.
                                    ul.delivery__list 
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | ≥50 кг
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | 21-50 дней в пути
                                .delivery__bottom
                                    p.delivery__info от 1,2 $/кг
                                    button(type="button").delivery__btn Рассчитать мой груз
                        .delivery__slide.swiper-slide 
                            .delivery__card
                                .delivery__top 
                                    p.delivery__subtitle Морская
                                    .delivery__img 
                                        img(src="@img/delivery-img-3.png", alt="")
                                    p.delivery__p Бюджетная — для крупных грузов и контейнеров.
                                    p.delivery__p Отправляется 2 раза в неделю.
                                    ul.delivery__list 
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | ≥100 кг
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | 21-50 дней в пути
                                .delivery__bottom
                                    p.delivery__info от 0,7 $/кг
                                    button(type="button").delivery__btn Рассчитать мой груз
                        .delivery__slide.swiper-slide 
                            .delivery__card
                                .delivery__top 
                                    p.delivery__subtitle Железнодорожная
                                    .delivery__img 
                                        img(src="@img/delivery-img-4.png", alt="")
                                    p.delivery__p Самая бюджетная для сборных грузов и контейнеров.
                                    p.delivery__p Отправка каждый день.
                                    ul.delivery__list 
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | ≥100 кг
                                        li.delivery__li 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#C8A35F"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2584 5.65819C15.7037 5.98479 15.8 6.61059 15.4734 7.05596L10.6627 13.616C9.93784 14.6045 8.50244 14.7142 7.63569 13.8475L5.4599 11.6717C5.06938 11.2812 5.06938 10.648 5.4599 10.2575C5.85043 9.86697 6.48359 9.86697 6.87412 10.2575L9.0499 12.4333L13.8606 5.87323C14.1872 5.42787 14.813 5.33159 15.2584 5.65819Z" fill="#F6F6F6"/>
                                            </svg>
                                            | 20-40 дней в пути
                                .delivery__bottom
                                    p.delivery__info от 0,3 $/кг
                                    button(type="button").delivery__btn Рассчитать мой груз   
                .delivery__pagination.swiper-pagination
    .packaging  
        .packaging__body.container 
            h2.packaging__title Виды упаковок
            .packaging__cards 
                .packaging__card 
                    .packaging__img 
                        img(src="@img/packaging-img-1.png", alt="")
                    p.packaging__subtitle Коробка из гофрированного картона + скотч
                .packaging__card 
                    .packaging__img 
                        img(src="@img/packaging-img-2.png", alt="")
                    p.packaging__subtitle Деревянная обрешетка
                .packaging__card 
                    .packaging__img 
                        img(src="@img/packaging-img-3.png", alt="")
                    p.packaging__subtitle Фанерный или деревянный ящик