mixin footer()
    footer.footer   
        .footer__body.container 
            .footer__top 
                a(href="#!").logo 
                    span Транспортная компания
                    p экспресс
                .footer__info   
                    p.footer__p ООО "Транспортная компания "Экспресс" #[br]  ИНН: 7723458620
                    p.footer__p КПП: 772301001 #[br] ОГРН: 1167746648695
            .footer__bottom 
                p.footer__desc © 2023. Транспортная компания «Экспресс». Все права защищены
                a(href="").footer__link Политика конфиденциальности
