mixin header()
    header.header 
        .header__nav.container 
            .header__wrapper
                a(href="#!").logo 
                    span Транспортная компания
                    p экспресс
                .header__content 
                    .header__info.disable-lg 
                        a(href="tel:+7(495)0210081").header__phone +7 (495) 021 00 81
                        a(href="mailto::zapros@tk-e.ru").header__mail zapros@tk-e.ru
                    a(href="tel:+7(495)0210081").header__btn.disable-md Заказать звонок
                    .menu
                        span.menu-btn 
                    .header__list 
                        li.header__li 
                            a(href="#!").header__link Главная  
                        li.header__li 
                            a(href="#!").header__link О компании
                        li.header__li 
                            a(href="#!").header__link Доставки  
                        li.header__li 
                            a(href="#!").header__link Упаковки  
                        li.header__li 
                            a(href="#!").header__link Услуги
                        li.header__li 
                            a(href="#!").header__link Преимущества
                        li.header__li 
                            a(href="#!").header__link Как мы работаем
                        li.header__li 
                            a(href="#!").header__link Склады
                        li.header__li 
                            a(href="#!").header__link Отзывы
                        li.header__li 
                            a(href="#!").header__link Контакты
                        .header__info.enable-lg  
                            a(href="tel:+7(495)0210081").header__phone +7 (495) 021 00 81
                            a(href="mailto::zapros@tk-e.ru").header__mail zapros@tk-e.ru
            a(href="tel:+7(495)0210081").header__btn.enable-md Заказать звонок