mixin intro()
    .intro 
        .intro__body.container
            h1.intro__title ОРГАНИЗУЕМ ЗАКУПКИ В КИТАЕ ДЛЯ БИЗНЕСА  #[span «ПОД КЛЮЧ»]
            ul.intro__list    
                li.intro__li #[span *] Не берем комиссию за выкуп
                li.intro__li #[span *] Поиск до 5 наименований бесплатно
            p.intro__desc Опишите запрос и мы подберем оптимальное решение для вашей компании
            button(type="button").intro__btn Рассчитать доставку
            .intro__phone
                a(href="tel:+7(495)0210081")  
                    img(src="../img/phone-btn.png", alt="" draggable="false")