mixin request()
    .request    
        .request__body.container 
            h2.request__title Оставьте заявку на расчёт стоимости перевозки
            form(action="#").request__form
                input(type="text" placeholder="|Имя" required).request__input  
                input(type="number" placeholder="Телефон" required).request__input  
                button(type="button").request__btn Рассчитать стоимость
                p.request__p Нажимая кнопку «Рассчитать стоимость», вы соглашаетесь с Политикой конфиденциальности и даёте Согласие на обработку персональных данных.