mixin warehouses()
    .warehouses 
        .warehouses__body.container 
            h2.warehouses__title Свои склады в ИУ, Гуанчжоу, Пекине
            .warehouses__row 
                .warehouses__left
                    p.warehouses__subtitle Это позволяет нам:
                    ul.warehouses__list 
                        li.warehouses__li 
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.70068 10.166L4.35059 6.52734L0.369141 5.34082L0.98877 3.36328L4.97021 4.82666L4.85156 0.291504H6.85547L6.72363 4.90576L10.6523 3.44238L11.2588 5.45947L7.21143 6.65918L9.80859 10.2319L8.17383 11.458L5.73486 7.66113L3.34863 11.3657L1.70068 10.166Z" fill="#C8A35F"/>
                            </svg>
                            | Принимать товар от разных поставщиков;
                        li.warehouses__li 
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.70068 10.166L4.35059 6.52734L0.369141 5.34082L0.98877 3.36328L4.97021 4.82666L4.85156 0.291504H6.85547L6.72363 4.90576L10.6523 3.44238L11.2588 5.45947L7.21143 6.65918L9.80859 10.2319L8.17383 11.458L5.73486 7.66113L3.34863 11.3657L1.70068 10.166Z" fill="#C8A35F"/>
                            </svg>
                            | Консолидировать их в одном месте;
                        li.warehouses__li 
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.70068 10.166L4.35059 6.52734L0.369141 5.34082L0.98877 3.36328L4.97021 4.82666L4.85156 0.291504H6.85547L6.72363 4.90576L10.6523 3.44238L11.2588 5.45947L7.21143 6.65918L9.80859 10.2319L8.17383 11.458L5.73486 7.66113L3.34863 11.3657L1.70068 10.166Z" fill="#C8A35F"/>
                            </svg>
                            | Проверять по количеству и визуально осматривать на брак;
                        li.warehouses__li 
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.70068 10.166L4.35059 6.52734L0.369141 5.34082L0.98877 3.36328L4.97021 4.82666L4.85156 0.291504H6.85547L6.72363 4.90576L10.6523 3.44238L11.2588 5.45947L7.21143 6.65918L9.80859 10.2319L8.17383 11.458L5.73486 7.66113L3.34863 11.3657L1.70068 10.166Z" fill="#C8A35F"/>
                            </svg>
                            | Делать надежную упаковку;
                        li.warehouses__li 
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.70068 10.166L4.35059 6.52734L0.369141 5.34082L0.98877 3.36328L4.97021 4.82666L4.85156 0.291504H6.85547L6.72363 4.90576L10.6523 3.44238L11.2588 5.45947L7.21143 6.65918L9.80859 10.2319L8.17383 11.458L5.73486 7.66113L3.34863 11.3657L1.70068 10.166Z" fill="#C8A35F"/>
                            </svg>
                            | Проверять товар на работоспособность;
                        li.warehouses__li 
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.70068 10.166L4.35059 6.52734L0.369141 5.34082L0.98877 3.36328L4.97021 4.82666L4.85156 0.291504H6.85547L6.72363 4.90576L10.6523 3.44238L11.2588 5.45947L7.21143 6.65918L9.80859 10.2319L8.17383 11.458L5.73486 7.66113L3.34863 11.3657L1.70068 10.166Z" fill="#C8A35F"/>
                            </svg>
                            | Отправлять вам видео и фотоотчеты
                .warehouses__img.first 
                    img(src="@img/warehouses-img-1.png", alt="" draggable="false")
            p.warehouses__subtitle Как проверяем качество товара:
            p.warehouses__desc Чтобы товар приехал без брака и пересорта в Россию, мы проверяем его на своём складе в Китае. Вы можете составить ТЗ для сложных товаров.
            .warehouses__cards 
                .warehouses__card 
                    .warehouses__img 
                        img(src="@img/warehouses-img-2.png", alt="" draggable="false")
                    p.warehouses__num 01
                    p.warehouses__p Проверяем на количество единиц товарав упаковке
                .warehouses__card 
                    .warehouses__img 
                        img(src="@img/warehouses-img-3.png", alt="" draggable="false")
                    p.warehouses__num 02
                    p.warehouses__p Проверяем качество товара на соответствие после выкупа
                .warehouses__card 
                    .warehouses__img 
                        img(src="@img/warehouses-img-4.png", alt="" draggable="false")
                    p.warehouses__num 03
                    p.warehouses__p Смотрим на работоспособность технических товаров
            h2.warehouses__name Мы выделим целый или сборный контейнер под ваш груз
            .warehouses__items 
                .warehouses__item 
                    .warehouses__tick 
                        <svg width="31" height="35" viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31 19.5C31 28.0604 24.0604 35 15.5 35C6.93959 35 0 28.0604 0 19.5C0 10.9396 6.93959 4 15.5 4C24.0604 4 31 10.9396 31 19.5Z" fill="#C8A35F"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.6505 12.7702C24.3408 13.2764 24.49 14.2464 23.9838 14.9367L16.5272 25.1048C15.4036 26.6369 13.1788 26.8071 11.8353 25.4636L8.46285 22.0911C7.85754 21.4858 7.85754 20.5044 8.46285 19.8991C9.06816 19.2938 10.0496 19.2938 10.6549 19.8991L14.0274 23.2716L21.4839 13.1035C21.9902 12.4132 22.9602 12.264 23.6505 12.7702Z" fill="#F6F6F6"/>
                        </svg>
                    p.warehouses__info С нами не обязательно забивать товаром целый контейнер
                .warehouses__item 
                    .warehouses__tick 
                        <svg width="31" height="35" viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31 19.5C31 28.0604 24.0604 35 15.5 35C6.93959 35 0 28.0604 0 19.5C0 10.9396 6.93959 4 15.5 4C24.0604 4 31 10.9396 31 19.5Z" fill="#C8A35F"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.6505 12.7702C24.3408 13.2764 24.49 14.2464 23.9838 14.9367L16.5272 25.1048C15.4036 26.6369 13.1788 26.8071 11.8353 25.4636L8.46285 22.0911C7.85754 21.4858 7.85754 20.5044 8.46285 19.8991C9.06816 19.2938 10.0496 19.2938 10.6549 19.8991L14.0274 23.2716L21.4839 13.1035C21.9902 12.4132 22.9602 12.264 23.6505 12.7702Z" fill="#F6F6F6"/>
                        </svg>
                    p.warehouses__info Если ваш груз займёт 20% - мы подгрузим товар для наших проектов
                .warehouses__item 
                    .warehouses__tick 
                        <svg width="31" height="35" viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31 19.5C31 28.0604 24.0604 35 15.5 35C6.93959 35 0 28.0604 0 19.5C0 10.9396 6.93959 4 15.5 4C24.0604 4 31 10.9396 31 19.5Z" fill="#C8A35F"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.6505 12.7702C24.3408 13.2764 24.49 14.2464 23.9838 14.9367L16.5272 25.1048C15.4036 26.6369 13.1788 26.8071 11.8353 25.4636L8.46285 22.0911C7.85754 21.4858 7.85754 20.5044 8.46285 19.8991C9.06816 19.2938 10.0496 19.2938 10.6549 19.8991L14.0274 23.2716L21.4839 13.1035C21.9902 12.4132 22.9602 12.264 23.6505 12.7702Z" fill="#F6F6F6"/>
                        </svg>
                    p.warehouses__info Товар подберем так, чтобы не было задержек на таможне
            .warehouses__images 
                .warehouses__image 
                    img(src="@img/warehouses-img-5.png", alt="" draggable="false")
                .warehouses__image 
                    img(src="@img/warehouses-img-6.png", alt="" draggable="false")
 
