mixin work()
    .work   
        .work__body.container 
            h2.work__title Как мы работаем
            p.work__desc Мы всегда следим за качеством наших услуги улучшаем наш сервис каждый день, чтобы вам было комфортно с нами работать.
            .work__content 
                .work__item 
                    p.work__subtitle Согласовываем
                    p.work__p Перед отправкой товаров делаем фото и видео отчёт на согласование. Таким образом, перед получением товара у себя в стране у вас будет возможность увидеть его.
                .work__item 
                    p.work__subtitle Договариваемся
                    p.work__p Ищем для вас поставщиков или товар. Заблаговременно проверяем фабрики на надежность. Договариваемся о скидках или кастомизации товара..
                .work__item 
                    p.work__subtitle Помогаем
                    p.work__p Вы самостоятельно можете договориться с фабриками обо всех условиях заявки, а мы поможем выкупить ваш товар.
                .work__item 
                    p.work__subtitle Храним
                    p.work__p Вы можете сделать заказы одновременно у разных продавцов. Мы соберём партии на складе в Китае и доставим их одним грузом.
                .work__item 
                    p.work__subtitle Контролируем
                    p.work__p Передаём перевозчику и контролируем перевозчика, чтобы он доставил груз до вашего города.
                .work__item 
                    p.work__subtitle Проверяем
                    p.work__p Получаем товар в Китае, проверяем, что груз приехал в товарном виде. Смотрим на наличие брака.
                .work__item 
                    p.work__subtitle Создаем условия
                    p.work__p Переводим поставщику деньги за товар. Вы платите рублями. Безналичным переводом или наличными.
                .work__item 
                    p.work__subtitle Сделаем для вас:
                    ul.work__list 
                        li.work__li страховку;
                        li.work__li проверку товара на брак;
                        li.work__li переупаковку товара, чтобы он доехал в товарном виде.